@model LightNovelSite.Models.Novel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Novel</h4>
    <hr/>
    <dl class="row">
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageURL)" alt="Novel Image" />
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title   )
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Chapters.Count)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Url.Action("ChapterCatalog", new { page = 0,NovelId= Model.Id })"> </>@Html.DisplayFor(model => model.Chapters.Count)</a>
            
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="text-center mt-4">
    <a asp-action="Read" asp-route-id="@Model?.Id" class="btn btn-primary">Read</a>
    @* <a asp-action="NovelChapters" asp-route-id="@Model?.Id" class="btn btn-primary">NovelChapters</a> *@
    @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    }
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>


<style>

    .container {
        max-width: 800px;
        margin: 50px auto;
    }

    .card {
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-img-top {
        max-height: 300px;
        object-fit: cover;
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card-text {
        color: #555;
    }

    .list-group-item {
        background-color: #fff;
    }

    .btn {
        margin-top: 10px;
    }

    .image-container {
        width: 200px; /* Adjust width as needed */
        height: 150px; /* Adjust height as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .novel-image {
        width: 100%; /* Fills the container width */
        height: 100%; /* Fills the container height */
        object-fit: cover; /* Scales image to cover the container */
    }
</style>

