@model LightNovelSite.Models.Chapter
@Html.Raw(ViewBag.div)

<div class="container">

    <h1>
        @Html.DisplayFor(model => model.ChapterTitle)
    </h1>

   @*  <h1>
        @Html.DisplayFor(model => model.ChapterNumber)
    </h1> *@

    
    @Html.Raw(Model.Content)

    

    <div class="button-container">
        <a class="button" asp-action="Previous" asp-route-id="@Model.NovelTitle">Previous</a>
        <a class="button" asp-action="Index">Back to List</a>
        <a class="button" asp-action="Next" asp-route-id="@Model.NovelTitle">Next</a>
    </div>
</div>

<style>
    .container {
        position: relative;
        min-height: 0vh;
        padding-bottom: 100px;
    }

    .button-container {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        z-index: 999;
    }

        .button-container a.button {
            display: inline-block;
            margin: 5px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: cornflowerblue;
            color: white;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }

            .button-container a.button:hover {
                background-color: rebeccapurple;
            }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0px 0;
        color: #fff;
    }
</style>


